<div class="main-body">

	<div class="space35"></div>
	<app-front-breadcrum [currentSlug]="breadCrumbArr"></app-front-breadcrum>
	
	<div class="space35"></div>

	<section class="section authentication-blocks">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<div class="panel-section">
						<div class="ps-head">Forgot Your Password ?</div>
						<div class="ps-body">
							<div class="signup-section">
								<p class="sub-text">Enter the e-mail address associated with your account. Click submit to have a password reset link e-mailed to you.</p>

								<div class="panel-section">

									<form #forgotForm="ngForm" enctype="multipart/form-data" (ngSubmit)="forgotpassword()" method="post">
										<div class="ps-sub-head">Your E-Mail Address</div>
										<div class="ps-sub-body">
											<div class="row">
												<div class="col-6">
													

													<div class="form-group">
														<label class="label" for="sp-email-address"><span>*</span> E-Mail Address</label>
														<input class="form-control" id="sp-email-address" type="text" placeholder="Email" [(ngModel)]="forgotPasswordModel.email" #email="ngModel" name="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required />

														<app-disp-validation [errors]="serverMessage?.email"></app-disp-validation>
											            <div [hidden]="email.valid || email.pristine"></div>
											            <div *ngIf="!serverMessage?.email && email.hasError('pattern')" class="error">
											            	Please enter valid email address
											            </div>
											            <div *ngIf="!serverMessage?.email && !email.hasError('pattern') && email.invalid && (email.dirty || email.touched)">
											                <div class="error">Please enter email</div>
											            </div>
													</div>

													<div class="form-group inline-block">
														<button type="submit" [disabled]="!forgotForm.valid" class="btn btn-blue waves-effect waves-light float-left">Submit</button>
														<button class="btn btn-gray waves-effect float-right">Cancel</button>
													</div>
												</div>
											</div>
										</div>
									</form>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</div>