<div class="bg-img"></div>
	<div class="coming-soon-wrapper">
	<div class="coming-soon">
		<div class="inner-bg">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="inner-wrapper">
							<div class="logo">
								<a href="javascript:void(0);"><img height="150" width="150" src="assets/images/logo.png" class=""></a>
							</div>

							<h2 class="coming-soon-title">We Are Coming Soon...</h2>
							<div class="seperator"></div>
							<div class="coming-soon-desc">
								<p class="about-website">
									Our Website is under construction. We are working very hard to give you the best<br> experience with this one.
								</p>
							</div>
							<div class="timer">
								<div class="days-wrapper">
									<span class="days" id="days">00</span>
									<span class="common-color">Days</span>
								</div> 
								<div class="hours-wrapper">
									<span class="hours" id="hours">00</span>
									<span class="common-color">Hours</span>
								</div> 
								<div class="minutes-wrapper">
									<span class="minutes" id="minutes">00</span>
									<span class="common-color">Minutes</span>
								</div> 
								<div class="seconds-wrapper">
									<span class="seconds" id="seconds">00</span>
									<span class="common-color">Seconds</span>
								</div>
							</div>

						</div>
						<div class="social">
							<div class="social_parent"><a href="javascript:void(0);" class="social_links"><i class="fa fa-facebook" aria-hidden="true"></i></a>
							</div>
							<div class="social_parent">
								<a href="javascript:void(0);" class="social_links"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
							</div>
							<div class="social_parent">
								<a href="javascript:void(0);" class="social_links"><i class="fa fa-twitter" aria-hidden="true"></i></a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
		