<div class="wrapper">
	<header class="main-header">
		<a routerLink="/admin" class="logo">
			<!-- mini logo for sidebar mini 50x50 pixels -->
			<span class="logo-mini"><b>P</b>T</span>
			<!-- logo for regular state and mobile devices -->
			<span class="logo-lg"><b>PCB</b>Train</span>
		</a>
		<app-admin-header></app-admin-header>
	</header>

	<app-admin-side-bar></app-admin-side-bar>

	<div class="content-wrapper">
		<router-outlet></router-outlet>
	</div>

	<app-admin-footer></app-admin-footer>
</div>
