<footer id="footer" class="footer">
	common footer page
	<!-- <div class="footer-block">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-12">
					<div class="blocks">
						<div class="title">Company</div>
						<ul class="items-list">
							<li class="item"><a href="javascript:;" class="link">Contact</a></li>
							<li class="item"><a href="javascript:;" class="link">Help</a></li>
							<li class="item"><a href="javascript:;" class="link">Blog</a></li>
							<li class="item"><a href="javascript:;" class="link">Sitemap</a></li>
							<li class="item"><a href="javascript:;" class="link">Terms and Conditions</a></li>
						</ul>
					</div>
				</div>

				<div class="col-lg-4 col-md-4 col-sm-12">
					<div class="blocks">
						<div class="title">Address</div>
						<address class="address">
							Newbury Electronics Ltd <br>
							Faraday Road <br>
							Newbury Berkshire <br>
							RG14 2AD, U.K.
						</address>
						<p class="email"><a href="javascript:;"><i class="fa fa-envelope"></i> pcbtrain@newburyelectronics.co.uk</a></p>
						<p class="telephone"><a href="tel: +44 (0) 1635 40347"><i class="fa fa-volume-control-phone"></i> Main Switch +44 (0) 1635 40347</a></p>
					</div>
				</div>

				<div class="col-lg-4 col-md-4 col-sm-12">
					<div class="blocks border-none">
						<div class="part">
							<div class="title">Quick Contact</div>
							<p class="questions">Questions? We’ve got answer. Try us.</p>
							<a href="javascript:;" class="contact-btn waves-effect waves-light"><i class="contact-person"></i>
								<span class="align-middle">Contact us</span>
							</a>
							<div class="footer-quick-contact">
								<div class="close-block text-right">
									<a href="javascript:;" class="close-form"><i class="fa fa-close"></i></a>
								</div>
								<div class="form-body">
									<div class="head">Quick Contact</div>
									<p class="text">Question? We've got answer. Tru us.</p>
									<div class="form-group">
										<input type="text" class="form-control" name="" value="" placeholder="* Name">
									</div>
									<div class="form-group">
										<input type="text" class="form-control" name="" value="" placeholder="* Email">
									</div>
									<div class="form-group">
										<input type="text" class="form-control" name="" value="" placeholder="* Telehpone">
									</div>
									<div class="form-group">
										<textarea class="textarea-control" rows="5" name="" placeholder="* Message"></textarea>
									</div>
									<div class="form-group mb-none">
										<button class="btn btn-green waves-effect waves-light">Send Message</button>
									</div>
								</div>
							</div>
						</div>
						<div class="part-none">
							<div class="title">Follow us</div>
							<ul class="social-icon-list">
								<li class="social-icon">
									<a href="javascript:;" class="icon"><i class="fa fa-facebook"></i></a>
								</li>
								<li class="social-icon">
									<a href="javascript:;" class="icon"><i class="fa fa-twitter"></i></a>
								</li>
								<li class="social-icon">
									<a href="javascript:;" class="icon"><i class="fa fa-google"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="copyright-block">
		<div class="container-fluid">
			<p>A division of newbury electronics LTD &copy; 2017 PCB Train</p>
		</div>
	</div> -->
</footer>