<div class="main-body">

	<div class="space35"></div>
	<app-front-breadcrum [currentSlug]="breadCrumbArr"></app-front-breadcrum>
	
	<div class="space35"></div>

	<section class="section authentication-blocks">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<div class="panel-section">
						<div class="ps-head">Reset Password ?</div>
						<div class="ps-body">
							<div class="signup-section">
								<p class="sub-text">Enter a new password and confirm password to reset your password</p>

								<div class="panel-section">

									<form #resetForm="ngForm" enctype="multipart/form-data" (ngSubmit)="resetPassword()" method="post">
										<div class="ps-sub-head">New Password</div>
										<div class="ps-sub-body">
											<div class="row">
												<div class="col-6">
													
													<div class="form-group">
														<label class="label" for="sp-email-address"><span>*</span> New Password </label>
														<input class="form-control" id="sp-password" type="password" placeholder="New Password" [(ngModel)]="resetPasswordModel.password" #password="ngModel" name="password" required />
														
											            <div *ngIf="password.invalid && (password.dirty || password.touched)">
											                <div class="error">Please enter password</div>
											            </div>
													</div>

													<div class="form-group">
														<label class="label" for="sp-email-address"><span>*</span> Confirm Password </label>
														<input class="form-control" id="sp-confirm-password" type="password" placeholder="Confirm Password" [(ngModel)]="resetPasswordModel.password_confirmation" #password_confirmation="ngModel" name="password_confirmation" required />
														
											            <div *ngIf="password_confirmation.invalid && (password_confirmation.dirty || password_confirmation.touched)">
											                <div class="error">Please enter confim password</div>
											            </div>
													</div>

													<div class="form-group inline-block">
														<button type="submit" [disabled]="!resetForm.valid" class="btn btn-blue waves-effect waves-light float-left">Save</button>
														<button class="btn btn-gray waves-effect float-right">Cancel</button>
													</div>
												</div>
											</div>
										</div>
									</form>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</div>